.authorization {
  display: inline-flex;
  float: right;
  margin-top: -1px;

  a {
    color: #fff;
  }

  .fa-sign-out-alt,
  .fa-user-plus,
  .fa-user{
    font-size: 22px;
    margin: 0 10px -3px 0;
  }

  .text-primary {
    display: inline-block;
    cursor: pointer;
    margin-left: 15px;

    &:hover {
      opacity: 0.7;
    }
  }
}
