.list-group {
  background: #ddd;
  padding: 10px;
  float: left;
  margin: 20px 0 20px 20px;
  width: 320px;
}

.title {
  position: relative;
  padding-right: 20px;
  min-height: 35px;
}

.title .close{
  position: absolute;
  top: 0;
  right: 0;
}



